h1 {
 color: navy;
 font-size: 18px;
}
.flex {
 margin: 10px;
 display: flex;
 justify-content: space-between;
}
.flex-item {
 display: flex;
 justify-content: flex-end;
 font-size: 12px;
}
li {
 margin-right: 16px;
}
a {
 text-decoration: none;
 color: navy;
 font-weight: bold;
}
.relative {
 position: relative;
 z-index: 1;
}
.img {
 margin: 50px 0 0 auto;
 display: block;
 width: 50%;
}
.absolute {
 position: absolute;
 top: 50%;
}
.first-view {
 font-size: 36px;
}
.box {
 width: 430%;
 height: 150px;
 background: navy;
}